.intro-level{
    
    position:absolute;
    top:0;
    z-index:12;
    width: 80%;
    height: 520px;
    display: flex;
    justify-content: space-between;
}
.community-container{
    background-image:url("../images/comm-bg.png");
    width: 240px;
    height: 97%;
    margin-top:25px;
    flex:30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    position:relative;

    overflow: hidden;
}::-webkit-scrollbar {
    display: none;
}
.community-ranking{
    
   
    width:100% !important;
    height: 360px;
    overflow-y: scroll;
 
    display: flex;
    flex-direction: column;
    
    align-items:center;

    position:absolute;
    top: 50px;
    
    
    
}

.community-btns{
    display:none;
}
.user{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding:0px 0px 20px 90px;

}
.top-user-info{
    display: flex;
    justify-content: center;

}
.lower-user-info{
    padding:0px 0px;
    display: flex;
    width:50%;
    justify-content: space-evenly;
}
.lower-user-info div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:30px;
    padding-top:5px;
}
.lower-user-info p, .lower-user-info>h2{
    margin:0;
    color:purple;
}
.lower-user-info h2{
    font-size: 35px;
    color:purple;
    font-family: 'Lobster', cursive;
}
.top-user-info, .lower-user-info{
    display:flex;
}
.top-user-info div{
    border-radius:10px;
    overflow: hidden;
    width:58px;
    border: 6px ridge pink;
    display:flex;
}
.user img{
    width:100%;
    height: 100%;
}

.level-info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    flex:70%;
    width: 464px;
    
    background-image: url("../images/intro-bg.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.btn-play{
    width: 200px;
    height: 100px;
}

.btn-play{
    display: none;
}
.level-rules{
    
}

.level-info>h2{
    position: absolute;
    top:10px;
    font-size: 30px;
    font-family: 'Licorice';
    color:darkblue;
    font-weight: 600;
}



