
.loading{
    width: 100%;
    height: 100%;
    background-color: grey;
    background-image: url("../images/loading-cc.PNG");
    background-position: center;
    background-size: cover;
  }

  .loaded{
    /* background-image: url("../images/level-one-bg.jpg");
    background-position: left;
    background-size: cover; */
    width: 100%;
    height: 100%;
    background-image: url("../images/level-one-bg.jpg"); 
      background-position: left;
      background-size: cover;
      position:relative;
  }
  .opacity{
      width: 100%;
      height: 100%;
      position:absolute;
      background:rgba(7, 1, 8, 0.3);
      
  }
  

  .board-container{
      display:flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
  }

  .board{
    width:350px;
    height: 350px;
    display: flex !important;
    flex-wrap: wrap;
    display: none;
  
  }
  
  .board img {
    width:70px;
    height:70px;
  }
  
  .score-board{
    font-size: 50px;
  }
  
  .game-section{
  
    background-image: url('https://www.wallpapertip.com/wmimgs/48-487341_candy-crush-saga-wiki-candy-crush-saga-background.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 900px;
  
    box-shadow: 0 0 10px rgb(0 0 0 );
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 40px;
  }
  
  
  .game-container{
    width:900px;
    height: 640px;
    box-shadow: 0 0 10px rgb(0 0 0 );
    background-image: url('https://images6.alphacoders.com/900/thumb-1920-900929.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
  
  
  }